In [42]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [66]:
dataPath = "data/GroceryStoreDataSet.csv"
data = pd.read_csv(dataPath, names=['products'])
data.head(10)

                        products
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT
5            BREAD,TEA,BOURNVITA
6           MAGGI,TEA,CORNFLAKES
7        MAGGI,BREAD,TEA,BISCUIT
8            JAM,MAGGI,BREAD,TEA
9                     BREAD,MILK

In [60]:
data.shape

(20, 1)

In [61]:
dataList = list(data['products'].apply(lambda x : x.split(",")))
dataList

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [79]:
encoder = TransactionEncoder()
data = encoder.fit(dataList).transform(dataList)
data = pd.DataFrame(data, columns=encoder.columns_)
data = data.astype("int")
data

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,1,0,1,0,0,0,0,0,1,0,0
1,1,0,1,0,0,1,0,0,1,0,0
2,0,1,1,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,1,1,1,0,0
4,1,0,0,0,0,0,0,1,0,0,1
5,0,1,1,0,0,0,0,0,0,0,1
6,0,0,0,0,0,1,0,1,0,0,1
7,1,0,1,0,0,0,0,1,0,0,1
8,0,0,1,0,0,0,1,1,0,0,1
9,0,0,1,0,0,0,0,0,1,0,0
10,1,0,0,1,1,1,0,0,0,0,0
11,1,0,0,1,1,1,0,0,0,0,0
12,0,1,0,0,1,0,0,0,0,1,0
13,0,0,1,1,1,0,0,0,0,0,0
14,1,0,1,0,0,0,0,0,0,1,0
15,0,0,0,0,1,1,0,0,0,1,0
16,0,1,1,0,0,0,0,0,0,1,0
17,0,0,1,0,1,0,0,0,0,1,0
18,0,0,1,0,1,0,0,0,0,1,0
19,0,0,0,0,1,1,0,0,1,0,1

In [95]:
dataSum = pd.DataFrame(data.sum().reset_index())
dataSum.columns = ["item","amount"]
dataSum = dataSum.sort_values("amount", ascending=False)
dataSum

          item  amount
2        BREAD      13
4       COFFEE       8
0      BISCUIT       7
10         TEA       7
5   CORNFLAKES       6
9        SUGER       6
7        MAGGI       5
8         MILK       5
1    BOURNVITA       4
3         COCK       3
6          JAM       2

In [40]:
dataApriori = apriori(data, min_support=0.2, use_colnames=True, verbose=1)
dataApriori

Processing 42 combinations | Sampling itemset size 3

/Users/bossthanison/Documents/Portfoilio/project/Association-Rules-with-Supermarket/.env/lib/python3.9/site-packages/mlxtend/frequent_patterns/fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support              itemsets
0      0.35             (BISCUIT)
1      0.20           (BOURNVITA)
2      0.65               (BREAD)
3      0.40              (COFFEE)
4      0.30          (CORNFLAKES)
5      0.25               (MAGGI)
6      0.25                (MILK)
7      0.30               (SUGER)
8      0.35                 (TEA)
9      0.20      (BISCUIT, BREAD)
10     0.20         (BREAD, MILK)
11     0.20        (BREAD, SUGER)
12     0.20          (BREAD, TEA)
13     0.20  (COFFEE, CORNFLAKES)
14     0.20       (COFFEE, SUGER)
15     0.20          (MAGGI, TEA)

In [41]:
dataRules = association_rules(dataApriori, metric="confidence", min_threshold=0.6)
dataRules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,0.0375,1.75
1,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,0.0050,1.05
2,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.80
3,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.80
4,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,0.1125,3.25